.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 100px 20px 100px;
    gap: 10px;
}
    
.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 2 / 4 / 3 / 5; }

img{
    width: 10%;
}

.imagenes{
    height: 200px;
}

.detalles{
    margin: 0 0px 70px 30px;
}

.calf{
    text-align: center;
    border: 1px solid rgb(1, 0, 52);
    margin: 0 30px 0 30px;
    border-radius: 15px;
    padding: 20px;
}