/* .hora{
    border: 0px 0px 2px 0px solid black;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    color: rgba(0, 0, 0, 0.212);
}

.hora:focus{
    border: none;
} */
/* Estilos predeterminados para el campo de tiempo */
input[type=time] {
    border: none;
    color: black;
    font-size: 14px;
    font-family: helvetica;
    width: 180px;
    transition: .3s;  /* Transición suave */
}

/* Wrapper alrededor de los campos de hora, minuto y am/pm */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
}

/* Espacio entre los campos de hora y minuto, minuto y am/pm */
input[type=time]::-webkit-datetime-edit-text {
    padding: 12px 4px;
}

/* Estilos para el campo de hora */
input[type=time]::-webkit-datetime-edit-hour-field {
    background-color: #f2f4f5;
    color: black;
    border-radius: 15%;
    padding: 12px 11px;
}


/* Estilos para el campo de minuto */
input[type=time]::-webkit-datetime-edit-minute-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    color: black;
    padding: 12px 11px;
}

/* Estilos para el campo de am/pm */
input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    color: black;
    padding: 12px 11px;
}

/* Estilos para el campo de hora */
input[type=time]::-webkit-datetime-edit-hour-field:focus {
    transition: .6s;
    background-color: #3a0ddd;
    color: white;

}


/* Estilos para el campo de minuto */
input[type=time]::-webkit-datetime-edit-minute-field:focus {
    transition: .6s;

    background-color: #3a0ddd;
    color: white;

    
}

/* Estilos para el campo de am/pm */
input[type=time]::-webkit-datetime-edit-ampm-field:focus {
    transition: .6s;

    background-color: #3a0ddd;
    color: white;
}



