.ticket{
    width: 34%; 
    border: 1px solid rgb(196, 196, 196);
    border-radius: 15px;
    margin-top: 90px;
    padding: 20px;
}


.primera{
    display: flex;
    align-items: center;
}


img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin: 0px 20px 1px 0px;
}

.data{
    margin-top: 5px;
    line-height: 0.5;
}


.titulodata{
    font-weight: bold;
    line-height: 1;
}

hr{
    color: rgb(139, 139, 139);
}

.precionoche, 
.tarifa,
.tarifa2,
.impuestos,
.tercera{
    display: flex   ;
    justify-content: space-between;
}
