img{
    height: 300px;
    width: 300px;
    margin: 10px 10px 0px 10px;
    border-radius: 15px;
}

span{
    color: rgba(54, 54, 54, 0.849);
}

.calif{
    display: flex;
    justify-content: space-between;
}

.spacer {
    flex-grow: 1;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
}

.card {
    width: 100%; 
}
