<div class="card-grid">
    @for (item of miscasas; track item; let i = $index) {
        <div class="card">
            <img src={{item.imagen1}} class="card-img-top" alt="">
            <div class="card-body">
                <div class="calif">
                    <h6 class="card-title direccion">
                        @if (item.direccion.length > 30) {
                            {{ item.direccion | truncateText: item.direccion.length / 2 }}
                        }@else{
                            {{item.direccion}}
                        }
                        </h6>
                    <div class="spacer"></div> <!-- Espacio para separar la dirección y la calificación -->
                    <h6 class="calf"><i class="fa-solid fa-star"></i> {{item.calificacion}}</h6>
                </div>
                <h6 class="card-text">${{item.precio}} MXN <span>por noche</span></h6>
            </div>
        </div>
    }    
</div>
