<body>
  <div class="card-grid" >
    @for (item of miscasas; track item; let i = $index) {
        <div class="card">

            <div id={{i}}  class="carousel slide carousel-fade">
            <a [routerLink]="['/casaunica',i]">

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src={{item.imagen1}} class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src={{item.imagen2}} class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src={{item.imagen3}} class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src={{item.imagen4}} class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src={{item.imagen5}} class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/casas/casas4.webp" class="d-block w-100" alt="...">
                  </div>
                </div>
            </a>

                <button class="carousel-control-prev" type="button"  [attr.data-bs-target]="'#'+ i" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#'+ i" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

            <a [routerLink]="['/casaunica',i]">
              <div class="card-body">
                  <div class="calif">
                      <h3 class="card-title direccion">
                          @if (item.direccion.length > 30) {
                              {{ item.direccion | truncateText: item.direccion.length / 2 }}
                          }@else{
                              @if (item.direccion.length > 20) {
                                  {{ item.direccion | truncateText: item.direccion.length / 1.3 }}
                              }@else{
                                  {{item.direccion}}
                              }
                          }
                          </h3>
                      <div class="spacer"></div>
                      <h3 class="calf" [ngClass]="{'gold': item.calificacion == 5, 'black': item.calificacion != 0}"><i class="fa-solid fa-star"></i> {{item.calificacion}}</h3>
                  </div>
                  <div class="card-text">
                    <span><small><i class="fa-solid fa-user user"></i> Anfitrion: {{item.anfitrion}}</small></span>
                  </div>
                  <h3 class="card-text">${{item.precio}} MXN <span>por noche</span></h3>
              </div>
            </a>
        </div>
    }    
</div>
</body>
