.mat-slide-toggle-bar {
    background-color: black !important;
  }
  
  /* Cambiar el color de fondo del MatCard a negro */
  .mat-card {
    background-color: black !important;
    color: white; /* Cambiar el color del texto a blanco para mejor legibilidad */
  }