
<div class="aboutUs">
    <div class="row">
      <div class="col">
        <h1> About us</h1>
      </div>
    </div>
    
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card border-danger">
            <div class="card-body">
              <img class="card-img-top" src="../assets/alan.jpg" alt="">
              <h5 class="card-title">Alan Kaled</h5>
              <p class="card-text"></p>
              <a href="" class="btn info"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
              <a href="" class="btn info"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
              <a href="" class="btn info"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card border-danger">
            <div class="card-body">
              <img class="card-img-top" src="../assets/aaron.jpg" alt="">
              <h5 class="card-title">Aaron Lopez</h5>
              <p class="card-text"></p>
              <a href="" class="btn info"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
              <a href="" class="btn info"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
              <a href="" class="btn info"><i class="fa-brands fa-facebook" style="color: #ffffff;" ></i></a>
            </div>
          </div>
        </div>
      
        <div class="col-sm-6 col-lg-3">
          <div class="card border-danger">
            <div class="card-body">
              <img class="card-img-top" src="../assets/omar.jpg" alt="">
              <h5 class="card-title">Omar Reyes</h5>
              <p class="card-text"></p>
              <a href="" class="btn info"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
              <a href="" class="btn info"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
              <a href="" class="btn info"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card border-danger">
            <div class="card-body">
              <img class="card-img-top" src="../assets/johan.jpg" alt="">
              <h5 class="card-title">Johan Renteria</h5>
              <p class="card-text"></p>
              <a href="" class="btn info"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
              <a href="" class="btn info"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
              <a href="" class="btn info"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
            </div>
          </div>
        </div>
        
      </div>