<div class="aboutUs">
    <div class="row">
        <div class="col">
            <h1> About us</h1>
            <p>Nuestro equipo de desarrollo pertenee a la Universidad Autonoma de Aguascalientes
             , equipo constituido por cuatro estudiantes con un objetivo en comun, desarrollar una SPA al estilo de AirB&B para la materia de tecnologias web.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card ">
                <div class="card-body">
                    <img class="card-img-top" src="../assets/images/alan.jpg" alt="">
                    <h5 class="card-title">Alan Kaled Guerrero Ortiz</h5>
                    <p class="card-text"></p>
                    <a href="https://www.instagram.com/_alan225_/" class="btn info"><i class="fa-brands fa-instagram"
                            style="color: #ffffff;"></i></a>
                    <a href="https://github.com/AL4NK" class="btn info"><i class="fa-brands fa-github"
                            style="color: #ffffff;"></i></a>
                    <a href="https://www.facebook.com/AlanGuerrero.225/" class="btn info"><i
                            class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card ">
                <div class="card-body">
                    <img class="card-img-top" src="../assets/images/aaron.jpg" alt="">
                    <h5 class="card-title">Luis Aaron Lopez Ramirez</h5>
                    <p class="card-text"></p>
                    <a href="https://www.instagram.com/luis.lopezramirez/" class="btn info"><i
                            class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
                    <a href="https://github.com/regaaron" class="btn info"><i class="fa-brands fa-github"
                            style="color: #ffffff;"></i></a>
                    <a href="https://www.facebook.com/luis.a.lopezramirez" class="btn info"><i
                            class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card ">
                <div class="card-body">
                    <img class="card-img-top" src="../assets/images/omar.jpg" alt="">
                    <h5 class="card-title">Omar Reyes Rodriguez</h5>
                    <p class="card-text"></p>
                    <a href="https://www.instagram.com/lucky_0339/" class="btn info"><i class="fa-brands fa-instagram"
                            style="color: #ffffff;"></i></a>
                    <a href="https://github.com/OmarReyesRmz" class="btn info"><i class="fa-brands fa-github"
                            style="color: #ffffff;"></i></a>
                    <a href="https://www.facebook.com/omarsito339/" class="btn info"><i class="fa-brands fa-facebook"
                            style="color: #ffffff;"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card ">
                <div class="card-body">
                    <img class="card-img-top" src="../assets/images/johan.jpg" alt="">
                    <h5 class="card-title">Johan Jose Maria Renteria Zaragoza</h5>
                    <p class="card-text"></p>
                    <a href="https://www.instagram.com/irregular_polygonn?igsh=MWI1MGo0c2tobmhsbA==" class="btn info"><i
                            class="fa-brands fa-instagram" style="color: #ffffff;"> </i></a>
                    <a href="https://github.com/IrregularP" class="btn info"><i class="fa-brands fa-github"
                            style="color: #ffffff;"></i></a>
                    <a href="https://www.facebook.com/johaaan123?mibextid=ZbWKwL" class="btn info"><i
                            class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>