<div id="container">
    <div id="destino">
        <div class="card bg-dark text-white">
          <img src="assets/images/aboutus.jpg" class="card-img" id="imgdestino">
          <div class="card-img-overlay">
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h1 class="card-title" id="tdestino">SOBRE NOSOTROS</h1>
          </div>
        </div>
    </div>

    <br><br>

    <h1 id="quienes">Quienes somos?</h1>
    <div class="card mb-3" style="max-width: 1800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/images/home_lock.png" class="img-fluid rounded-start" alt="..." width="70%" id="imgh">
          </div>
          <div class="col-md-7">
            <div class="card-body">
                <h1 id="titulodiv3">SOMOS HOME-LOCK UNA AGENCIA DE VIAJES</h1>
                <p style="text-align: justify;"> ¿Estás buscando una agencia de viajes confiable para planear tus próximas vacaciones? ¡Nuestro Airbnb es la respuesta! Somos una de las principales agencias de viajes en el país, y nuestro objetivo es hacer que tus viajes sean inolvidables.</p>
                <p style="text-align: justify;">Con nosotros, puedes reservar vuelos, hoteles, autos de alquiler y mucho más. Nuestro equipo de expertos en viajes está aquí para ayudarte a planear el viaje perfecto, ya sea que estés buscando unas vacaciones relajantes en la playa o una emocionante aventura en la ciudad.</p>
                <p style="text-align: justify;">En nuestra agencia, sabemos que cada viajero es único y es por eso que trabajamos para personalizar cada experiencia de viaje. Ofrecemos diferentes opciones para que puedas elegir lo que mejor se adapte a tus necesidades. Ya sea que prefieras alojarte en un hotel o en la comodidad de rentas vacacionales, la opción que elijas está aquí.</p>
                <p style="text-align: justify;">¡No esperes más! Contáctanos hoy para comenzar a planear tus próximas vacaciones.</p>
                <p style="text-align: justify;">No importa si eres un viajero experimentado o si esta es tu primera vez, en nuestra agencia de viajes encontrarás todo lo que necesitas para hacer de tu viaje una experiencia inolvidable. Un tip importante para que tu viaje sea perfecto es que no olvides organizar los tours que quieras hacer en el viaje y contratar un seguro de viaje para estar tranquilo. Listo! Ya tienes el viaje perfecto organizado.</p>
            </div>
          </div>
        </div>
    </div>

    <br><br>

    <h1 id="mvv">Misión, Visión y Valores de nuestra empresa</h1>
    <div id="div2" style="text-align: center;">
        <div class="row">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                <i class="fa-solid fa-bullseye fa-3x" id="icon"></i>
                <h1 class="card-title">Misión</h1>
                <p class="card-text" id="ct">En Home-Lock, nos dedicamos a ofrecer experiencias de viaje únicas y memorables, brindando a nuestros clientes la oportunidad de descubrir el mundo con comodidad y seguridad. Nos esforzamos por crear conexiones genuinas entre las personas y los destinos, fomentando el amor por los viajes y la exploración.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                <i class="fa-solid fa-eye fa-3x" id="icon"></i>
                <h1 class="card-title">Visión</h1>
                <p class="card-text" id="ct">Aspiramos a ser reconocidos como líderes en la industria de viajes, proporcionando servicios de alta calidad y superando las expectativas de nuestros clientes en cada etapa de su viaje. Nos comprometemos a seguir innovando y adaptándonos a las necesidades cambiantes del mercado, manteniendo siempre nuestros valores fundamentales en el centro de todo lo que hacemos.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                <i class="fa-solid fa-heart fa-3x" id="icon"></i>
                <h1 class="card-title">Valores</h1>
                <p class="card-text" id="ct"> <span>Excelencia:</span>  Nos esforzamos por ofrecer servicios excepcionales en cada interacción con nuestros clientes. <br> 
                    <span>Integridad</span> Actuamos con honestidad, transparencia y ética en todas nuestras operaciones.<br>  
                    <span>Pasión por los viajes</span> Compartimos la pasión por explorar el mundo y estamos dedicados a inspirar a otros a descubrir nuevas culturas y destinos. <br> 
                </p>
            </div>
          </div>
        </div>
    </div>

    <br><br>

    <hr>
    <h1 id="desarrollo">Conocenos un poco más</h1>
    <div class="row" id="equipo">
        <!-- Tarjeta de Alan -->
        <div class="col">
            <div class="card alan-card">
                <img src="assets/images/alan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" id="titulocarta">Alan Kaled Guerrero Ortiz</p>
                    <p class="texlo">Antes de empezar a codificar, es crucial explorar diferentes ideas y opciones de diseño. Esta fase puede implicar investigar otros sitios web, crear bocetos y planificar la estructura y funcionalidades de tu página.</p>
                    <div class="iconos">
                        <a href="https://www.instagram.com/_alan225_/" class="btn info"><i class="fa-brands fa-instagram" style="color: black"></i></a>
                        <a href="https://github.com/AL4NK" class="btn info"><i class="fa-brands fa-github" style="color: black"></i></a>
                        <a href="https://www.facebook.com/AlanGuerrero.225/" class="btn info"><i class="fa-brands fa-facebook" style="color: black"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjeta de Luis -->
        <div class="col">
            <div class="card luis-card">
                <img src="assets/images/aaron.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" id="titulocarta">Luis Aaron Lopez Ramirez</p>
                    <p class="texlo">Crear una página web es una oportunidad para desarrollar y mejorar tus habilidades en programación, diseño web y gestión de proyectos. Puedes aprender nuevos lenguajes de programación como HTML, CSS y JavaScript, así como frameworks y herramientas populares.</p>
                    <div class="iconos">
                    <a href="https://www.instagram.com/luis.lopezramirez/" class="btn info"><i class="fa-brands fa-instagram" style="color: black"></i></a>
                    <a href="https://github.com/regaaron" class="btn info"><i class="fa-brands fa-github" style="color: black"></i></a>
                    <a href="https://www.facebook.com/luis.a.lopezramirez" class="btn info"><i class="fa-brands fa-facebook" style="color: black"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjeta de Omar -->
        <div class="col">
            <div class="card omar-card">
                <img src="assets/images/omar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" id="titulocarta">Omar Reyes Ramirez</p>
                    <p class="texlo">Durante el desarrollo de la página web, es probable que te encuentres con desafíos y obstáculos. Resolver estos problemas puede ser desafiante, pero también muy gratificante. Cada solución encontrada es un logro y una oportunidad de aprendizaje.</p>
                    <div class="iconos">
                    <a href="https://www.instagram.com/lucky_0339/" class="btn info"><i class="fa-brands fa-instagram" style="color: black;"></i></a>
                    <a href="https://github.com/OmarReyesRmz" class="btn info"><i class="fa-brands fa-github" style="color: black;"></i></a>
                    <a href="https://www.facebook.com/omarsito339/" class="btn info"><i class="fa-brands fa-facebook" style="color: black"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjeta de Johan -->
        <div class="col">
            <div class="card johan-card">
                <img src="assets/images/johan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" id="titulocarta">Johan Jose Maria Renteria Zaragoza</p>
                    <p class="texlo">La creación de una página web te permite expresar tu creatividad y estilo personal a través del diseño y la funcionalidad. Puedes experimentar con diferentes colores, diseños, tipografías y efectos para crear una experiencia única para tus usuarios.</p>
                    <div class="iconos">
                        <a href="https://www.instagram.com/irregular_polygonn?igsh=MWI1MGo0c2tobmhsbA==" class="btn info"><i class="fa-brands fa-instagram" style="color: black"> </i></a>
                        <a href="https://github.com/IrregularP" class="btn info"><i class="fa-brands fa-github" style="color: black;"></i></a>
                        <a href="https://www.facebook.com/johaaan123?mibextid=ZbWKwL" class="btn info"><i class="fa-brands fa-facebook" style="color: black"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    
    <!-- <div [ngClass]="[isActive ? 'active' : 'inactive', isError ? 'text-danger' : 'text-success']">Elemento</div> -->

    
</div>