img{
    height: 220px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

span{
    color: rgba(54, 54, 54, 0.849);
}

.calif{
    display: flex;
    justify-content: space-between;
}

.spacer {
    flex-grow: 1;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;
    margin: 50px 40px 30px 40px;
}

@media screen and (max-width: 1000px) {
   .card-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

}

@media screen and (max-width: 800px) {
    .card-grid {
         grid-template-columns: repeat(3, minmax(0, 1fr));
     }
     
 }

 @media screen and (max-width: 600px) {
    .card-grid {
         grid-template-columns: repeat(2, minmax(0, 1fr));
     }
     
 }
.card {
    width: calc(95% - 10px); 
    border:none;
    margin: 10px 20px 0px 20px;
}

a{
    text-decoration: none;
    color: black;
}