img{
    height: 280px;
    width: 100%;
    border-radius: 15px;
}

span{
    color: rgba(54, 54, 54, 0.849);
}

.calif{
    display: flex;
    justify-content: space-between;
}

.spacer {
    flex-grow: 1;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* Define 4 columnas */
    gap: 20px; /* Espacio entre las cartas */
}

.card {
    width: calc(95% - 10px); /* Calcula el ancho de cada carta (25% del ancho total menos el espacio entre ellas) */
    border:none;
    margin: 10px 20px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

a{
    text-decoration: none;
    color: black;
}