<div class="reserva">

    <div class="formulario">
        <h1><i class="fa-solid fa-arrow-left derecha"></i>Hacer reservación</h1>
        <hr>
        <div class="datos">
            <h3>-Tu viaje-</h3>
            <app-calendario></app-calendario>
            <!-- <p>Fechas</p> -->
        </div>
        <hr>
        <div class="datos">
            <h3>-Completa la información-</h3>
            <form action="">
                <label for="">Nombre</label>
                <input type="text">
                <label for="">Correo</label>
                <input type="email" name="" id="">
                <label for=""></label>
                <label for="">Telefono</label>
                <input type="number">
                <label for="">Direccion</label>
                <input type="text" name="" id="">
            </form>

            <button class="btn btn-success">Reservar</button>
        </div>
    </div>

    <div class="ticket">
        <div class="primera">
            <img src={{casa.imagen1}} alt="">
            <div class="data">
                <p class="titulodata">{{casa.direccion}}</p>
                <p>Anfitrion: {{casa.anfitrion}}</p>
                <p><i class="fa-solid fa-star"></i> {{casa.calificacion}} - <small>SuperAnfitrión</small></p>
            </div>  
        </div>
        <hr>
        <div class="segunda">
            <h2>Detalles del precio</h2>
            <div class="precionoche">
                <p>${{casa.precio}} MXN x (5) noches</p>
                <p>$(precioxdias) MXN</p>
            </div>
            <div class="tarifa">
                <p>Tarifa de limpieza</p>
                <p>$(tarifa) MXN</p>
            </div>
            <div class="tarifa2">
                <p>Tarifa por servicio de Airbnb</p>
                <p>$(tarifa2) MXN</p>
            </div>
            <div class="impuestos">
                <p>Impuestos</p>
                <p>$(impuestos) MXN</p>
            </div>
        </div>
        <hr>
        <div class="tercera">
            <h3>Total (MXN)</h3>
            <p>$(sumatotal) MXN</p>
        </div>
    </div>

</div>